.card{
    display: flexbox;
    justify-content:space-evenly;
    width: 25rem;
    height: 15rem;
    border-radius: 1.5rem;
    background: #2b2b2b;
    margin:200px;
    
}
.sec1{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    
}

.logo{
  
    width: 50px;
}
.master{
    color: azure;
     font-weight: 500;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sim{
    width: 50px;
}