.card{
    display: flexbox;
    justify-content:space-evenly;
    width: 25rem;
    height: 15rem;
    border-radius: 1.5rem;
    background: #44343430;
    backdrop-filter: blur(degree-of-blur);
    margin-left:34rem;
    margin-top: 15rem;

    
}
.sec1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
  
    width: 50px;
}
.master{
    color: azure;
     font-weight: 500;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sim{
    width: 50px;
}
h4{
 
    margin-left: 1.5rem;
}
h3{
    margin-left: 1.5rem ;
}